body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 10%;
    bottom: 0;
    margin: 5%;
    width: 90%;
}

#title {
    margin-top: -5%;
    width: 100%;
    height: 40%;
}

.mapboxgl-popup {
    max-width: 300px;
}

.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.marker {
    background-image: url('/static/icons/logo.svg');
    background-size: cover;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
}
.mapboxgl-popup {
    max-width: 200px;
}
  
.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
#imagePopup{
    max-width: 150px;
}
.hiddenPicture{
    opacity: 0 !important;
    height: 0 !important;
}
#picture{
    height: 46vh;
    width: 81vw;
}
.screen1 {
    padding: 5px 20px 20px 20px;
    border-radius: 0px;
    height: 84vh;
    max-height: 620px;
    min-height: 510px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width:auto;
}
.mapboxgl-popup{
    max-width: 300px;
    width: 300px;
}
#calendar {
    margin: 20px;
  }
  .month {
    margin-right: 8px;
  }
  .month-name {
    font-size: 85%;
    fill: #777;
    font-family: Arial, Helvetica;
  }
  .day.hover {
    stroke: #6d6E70;
    stroke-width: 2;
  }
  .day.focus {
    stroke: #ffff33;
    stroke-width: 2;
  }